<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3> Login on wanderlust :</h3>
        <form action="/login" method="post"  class="needs-validation" novalidate>
            <!-- for username -->
            <div class="mb-3">
                <label for="username" class="form-label">username :</label>
                <input name="username" 
                        type="text" class="form-control" 
                         id="username"
                        required />
                <div class="valid-feedback">
                    Look's Good !!
                </div>
                <div class="invalid-feedback">
                    Enter valid username !!
                </div>
             </div>
             <!-- for password -->

             <div class="mb-3">
                <label for="password" class="form-label">password :</label>
                <input name="password" 
                        type="password" class="form-control" 
                         id="password"
                        required />
                <div class="valid-feedback">
                    Look's Good !!
                </div>
                <div class="invalid-feedback">
                    Enter valid Password !!
                </div>
             </div>

             <!-- button -->
             <button class="btn btn-outline-success">Login</button>
        </form>
        <form action="/signup"><button class="btn btn-outline-danger col-4 offset-8">Signup</button></form>
    </div>
</div>